body {
    padding-top: 80px; /* Adjust this value according to your navbar height */
}
.navbar {
    height: 100px; /* Set the desired height for the navbar */
}
.navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-brand img {
    height: 50px; /* Adjust the size of the icon */
    margin-right: 10px;
}
.navbar-brand {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.navbar-nav .nav-item .nav-link i {
    font-size: 40px;
    display: block;
    margin: 0 auto;
}
.navbar-nav .nav-item .nav-link small {
    display: block;
    text-align: center;
}

.name{
    font-size: 36px;
}

li{
    padding-right:4rem;
   }

